{% extends "layouts/base.html" %} {% block title %} Charts Morris {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css"> {% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Gráficos</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Graficos</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Line Chart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- <svg></svg> -->
                    <canvas id="myChart" width="300" height="300"></canvas>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
<script src="/static/assets/js/pages/chart-morris-custom.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>



<script>
    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var YEARS = '{{ years }}';
    console.log(YEARS);
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['01/2018', '02/2018', '03/2018', '04/2018', '05/2018', '06/2018', '07/2018', '08/2018', '09/2018', '10/2018', '11/2018', '12/2018'],
            datasets: [{
                label: 'Quantidade Consultas',
                data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(255, 206, 86, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                    'rgba(153, 102, 255, 0.3)',
                    'rgba(255, 159, 64, 0.3)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
                fill: false,
            }, {
                label: 'Quantidade Exames',
                data: [15, 25, 35, 45, 65, 85, 95],
                backgroundColor: [
                    'rgba(0,0,255,0.3)',
                    'rgba(0,0,255,0.3)',
                    'rgba(0,0,255,0.3)',
                    'rgba(0,0,255,0.3)',
                    'rgba(0,0,255,0.3)',
                    'rgba(0,0,255,0.3)'
                ],
                borderColor: [
                    'rgba(0,0,255,1)',
                    'rgba(0,0,255, 1)',
                    'rgba(0,0,255,1)',
                    'rgba(0,0,255,1)',
                    'rgba(0,0,255,1)',
                    'rgba(0,0,255,1)'
                ],
                borderWidth: 1,
                fill: false,
            }]
        },
        options: {
            scales: {
                x: {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                },
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>




<!-- <script>
    var margin = {
            top: 20,
            right: 20,
            bottom: 30,
            left: 50
        },
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var parseDate = d3.time.format("%Y-%m-%d").parse; // for dates like "2014-01-01"
    //var parseDate = d3.time.format("%Y-%m-%dT00:00:00Z").parse;  // for dates like "2014-01-01T00:00:00Z"

    var x = d3.time.scale()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var line = d3.svg.line()
        .x(function(d) {
            return x(d.month);
        })
        .y(function(d) {
            return y(d.count_items);
        });

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.json("{% url 'graph' %}",
        function(error, data) {
            data.forEach(function(d) {
                d.month = parseDate(d.month);
                d.count_items = +d.count_items;
            });

            x.domain(d3.extent(data, function(d) {
                return d.month;
            }));
            y.domain(d3.extent(data, function(d) {
                return d.count_items;
            }));

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Play count");

            svg.append("path")
                .datum(data)
                .attr("class", "line")
                .attr("d", line);
        });
</script> -->

{% endblock javascripts %}